body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    min-height: 100vh;
    margin: 0 120px;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "main-left main-left main-right main-right"
    "footer footer footer footer";

}

.header {
    grid-area: header;
    background-color: #EFF8E2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left {
    padding: 24px;
    grid-area: main-left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CECFC7;
}
.main-right {
    padding: 24px;
    grid-area: main-right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CECFC7;
}

.footer {
    grid-area: footer;
    background-color: #8ACDEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    padding: 40px;
}