body {
    font-family: Arial, sans-serif;
    background-color: #BCD8C1;
  }

.section {
    height: 100vh;
    display: flex;
}

.section-left, .section-right {
    height: 100%;
    width: 50vw;
    border: 1px #000 solid;
}

.box {
    height: 72px;
    width: auto;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}

.grid {
    display: grid;
    background-color: #fff;
    border: 1px solid #000;
}

/*****************/
/* Dfault Grid */
/*****************/
.default {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

/*****************/
/* Inline Grid */
/*****************/
.inline {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
}
.inline .box {
    width: 50px;
}

/*****************/
/* Grid Gap */
/*****************/
.grid-gap {
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    background-color: grey;
}

/*****************/
/* MinMax */
/*****************/
.min-max {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

/*****************/
/* Grid Area */
/*****************/
.grid-area-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-area-section .green {
    grid-area: 1 / 1 / span 2 / span 2;
}
.grid-area-section .blue-2 {
    grid-area: 3 / 1 / span 1 / span 4;
}

/*****************/
/* Grid Template Areas */
/*****************/
.grid-template-area-section .blue-2 {
    grid-area: 2 / 1 / span 2 / span 3;
}

.grid-template-area-section {
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer";
}

.grid-template-area-section .red {
    grid-area: header;
}

.grid-template-area-section .blue {
    grid-area: sidebar;
}

.grid-template-area-section .yellow {
    grid-area: main;
}

.grid-template-area-section .green {
    grid-area: footer;
}

/*****************/
/* Justify Items */
/*****************/
.justify-items {
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}

.justify-items .box {
    width: 80px;
}

/*****************/
/* Align Items */
/*****************/
.align-items {
    height: 360px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    /* justify-items: center; */
}

.align-items .box {
    width: 80px;
}
